body {
  margin: 0;
  padding: 0;
}

.auth-button {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.home-heading {
  font-weight: 200;
  font-size: 3em;
}

.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}

.page-heading {
  font-weight: 200;
  font-size: 2em;
  margin-left: 2em;
}

.light-blue {
  color: #73DCB9;
}